@charset "UTF-8";
/**
* CSS Menu
*/
ul.navigation {
    display: inline-block;
}
ul.navigation li{
	display: inline-block;
}
ul.navigation li a.menu{
	font-size: 25px;
}
ul.navigation li a.sub-menu{
	font-size: 15px;
}
	         
  